
        <div class="mt-1">
                <div class="footer">
                    <p>Made with ♥ by Jay Bhadreshwara</p>
                    <p>Copyright &copy;  2021 Jay - All rights reserved.</p>
                </div>
        </div>
    </div>

            
