<%-include Partials/header.ejs %>
<%-include Partials/main_nav.ejs %>
  <script src="/public/Scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/bootstrap.min.css"></script>

<!--About Section-->  
<section class="section-three" id="contact">
        <div class="contact-showcase">
                <h1 class="contact-title">
                    Hit me up
                </h1>

    <div class="fcf-body">

        <div id="fcf-form">

            <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">
                
                <div class="fcf-form-group">
                    <div class="fcf-input-group">
                        <input type="text" id="Name" name="Name" class="fcf-form-control" placeholder="First & Last name" required>
                    </div>
                </div>

                <div class="fcf-form-group">
                    <div class="fcf-input-group">
                        <input type="email" id="Email" name="Email" class="fcf-form-control" placeholder="abc@xyz.com" required>
                    </div>
                </div>

                <div class="fcf-form-group">
                    <div class="fcf-input-group">
                        <textarea id="Message" name="Message" class="fcf-form-control" style="font-family: Overlock" rows="6" maxlength="3000" placeholder="Drop your message here..."  required></textarea>
                    </div>
                </div>

                <div class="fcf-form-group">
                    <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
                </div>

                

            </form>
        </div>
    </div>
</section>

<%-include Partials/footer.ejs %>