


<%-include Partials/header.ejs %>
<%-include Partials/main_nav.ejs %>
  <script src="/public/Scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/bootstrap.min.css"></script>

<!--Intro Section-->  
<section class="section-one">
    <div class="intro-showcase">
        <div class="intro-content">
            <h1 class="intro-title">рдирдорд╕реНрддреЗ,ЁЯЩП <span>I am Jay.</span></h1>

            <p class="intro-subtitle">aspiring data scientist</p>
        </div>  

        <div class="intro-image">
                <img class="my-img" src="/Assets/images/jay.jpg" alt="">
        </div>
    </div>
    
        

</section>
  



  <!--Script section-->
  <script src="/public/Scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/bootstrap.min.css"></script>

</body>
</html>


<%-include Partials/footer.ejs %>
