<%-include Partials/header.ejs %>
<%-include Partials/main_nav.ejs %>



<section class="page-section" id="projects">
            <div class="container">
                <div class="text-center">
                    <h2 class="project-title">Projects</h2>
                    <h3 class="project-subtitle text-muted">Take a look at what I've built</h3>
                </div>
            

            <div class="project-showcase row text-center">

                    <div class="col-md-4 border pt-2">

                        <h4 class="my-4">Object Detection</h4>
                         <p class="text-muted">
                            This project aims to do real-time object detection through a laptop cam using OpenCV. The idea is to loop over each
                            frame of the video stream, detect objects, and bound each detection in a box.
                        </p>
                        <a href="https://github.com/Bhadreshwara/Object-Detection-In-Video">View Project</a>
                    </div>
                    <div class="col-md-4 border">
                        
                        <h4 class="my-4">Sign Language Detecion</h4>
                        <p class="text-muted">
                            - Built and trained a convolutional neural network (CNN) to classify American Sign Language gestures
                            - Classified each gesture from the image captured into one of twenty-six alphabets (excluding J and Z)
                        </p>
                        <a href="https://github.com/Bhadreshwara/SignLanguageDetection">View Project</a>
                    </div>
                    <div class="col-md-4 border">
                        
                        <h4 class="my-4">Instant Sketch</h4>
                        <p class="text-muted">
                            - Built a web application, which create a sketch of a photo within a seconds.
                        </p>
                        <a href="https://github.com/Bhadreshwara/InstantSketch">View Project</a>
                    </div>
                </div>
            
            
<%-include Partials/footer.ejs %>

</section>


