<%-include Partials/header.ejs %>
<%-include Partials/main_nav.ejs %>

<section class="page-section" id="service">
            <div class="container">
                <div class="text-center">
                    <h2 class="service-title">Services</h2>
                    <h3 class="service-subtitle text-muted">Look at what I can provide</h3>
                </div>
                <div class="service-showcase row text-center">

                    <div class="col-md-4 border pt-2">

                        <h4 class="my-4">Web Development</h4>
                        <p class="text-muted">I can create or help you to develop a website for you</p>
                    </div>
                    <div class="col-md-4 border">
                        
                        <h4 class="my-4">Machine Learning</h4>
                        <p class="text-muted">Developing projects related to Machine Learning.</p>
                    </div>
                    <div class="col-md-4 border">
                        
                        <h4 class="my-4">Content Creator</h4>
                        <p class="text-muted">I create content reated to web development and machine learning. Also, provide project ideas regarding web designing and machine learning projects.</p>
                    </div>
                </div>
            </div>
        </section>

<%-include Partials/footer.ejs %>